VITE_API_URL=/api
VITE_KEYCLOAK_URL=https://sec.naliv.kz
VITE_KEYCLOAK_REALM=naliv-prod
VITE_KEYCLOAK_CLIENT_ID=naliv-courier
VITE_KEYCLOAK_SILENT_SSO=false
VITE_ROUTER_MODE=browser
VITE_WEBRTC_WS_URL=wss://jasmine.naliv.kz:8089/asterisk/ws
VITE_WEBRTC_LOGIN=
VITE_WEBRTC_PASSWORD=
